.activity-card{
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
    border-radius: 10px;

    .activity-card-head{
        font-weight: bold;
        font-size: 1.1em;
    }

    .activity-card-body{
        position: relative;

        .activity-block:before{
            content: '';
            position: absolute;
            top: 0;
            left: 8px;
            height: 100%;
            border-right: 2px solid #607cab;
        }
        
        .activity-block{
            margin-top: 20px;

            

            .activity{
                position: relative;
                font-weight: 400;
                margin-left: 35px;

                .activity-status{
                    position: absolute;
                    top: -2px;
                    left: -34px;
                    background-color: #fff;
                    width: 25px;
                    height: 27px;
                    color: #607cab;
                }

                .activity-user{
                    font-weight: 500;
                }

                .activity-description{
                    font-weight: 300;
                }

                .activity-date{
                    font-size: .8em;
                    color:#607cab;
                }
            }
        }
    }
}