.main-content{
    .department-block{
        margin-top: 100px;
        color: #344767;

        .department-item{
            background-color: #fff;
            font-weight: 500;
            padding: 20px;
            margin-bottom: 5px;
            cursor: pointer;
            box-shadow: 0 0.15rem 0.625rem 0 rgb(0 0 0 / 12%) !important;
            transition: font-size .2s;
            border-radius: 20px;
        }

        .department-item:hover{
            box-shadow: 0 0.15em 0.625rem 2px rgb(0 0 0 / 12%) !important;
            font-size: 1.1em;
            font-weight: 700;
        }
    }
}

.department-form-card{
    position: absolute;
    top: 0;
    right: -80%;
    background-color: #fff;
    width: 80%;
    height: 100%;
    box-shadow: 0 8px 26px -4px hsla(0,0%,8%,.15),0 8px 9px -5px hsla(0,0%,8%,.06)!important;
    overflow: scroll;
    padding: 0px 10px;
    transition: .2s ease;
    z-index: 10;
    color:#344767;

    .department-form-card-head{
        padding: 20px;
        padding-bottom: 0px;

        .department-form-card-title{
            font-weight: 700;
            font-size: 1.5em;
        }

        .department-form-card-close{
            font-size: 1.5em;
            cursor: pointer;
        }
    }

    .divider{
        margin: 5px 0px;
        border: 0;
    }

    .department-form-card-body{
        padding: 20px;
        padding-bottom: 0px;

        .button-telegram-color{
            background-color: #0088cc;
        }

        .department-form-block{

            .user-card{

                .user-card-head{
                    padding: 10px;
                    background-color: #e4eef5;
                    border-radius: 20px 20px 0px 0px;
                    cursor: pointer;
                    transition: .5s;

                    .card-head-title{
                        font-size: 1.2em;
                        font-weight: 700;
                    }
                }

                .user-card-body{
                    background-color: #f4f8fb;
                    border-radius: 0px 0px 20px 20px;

                    .users-list{
                        list-style-type: none;
                        padding: 0;
                    }

                    .users-list li{
                        padding: 20px;
                        font-weight: 500;
                        cursor: pointer;
                        transition: .5s;
                    }

                    .users-list li div:first-of-type{
                        width: 50px;
                    }

                    .users-list li div:last-of-type svg{
                        color: #63b359;
                        animation: blinker 1.5s linear infinite;
                        border-radius: 50%;
                        font-size: .6em;
                    }

                    @keyframes blinker {
                        50% {
                            box-shadow: 0 0 6px 2px #63b359;
                        }
                    }
                }
            }

            .department-form-field{
                label{
                    font-size: .9em;
                    font-weight: 500;
                }

                input, select{
                    font-size: .9em;
                }

                .input-with-sign{
                    position: relative;

                    .field{
                        padding-left: 40px;
                    }

                    span{
                        position: absolute;
                        top: 5px;
                        left: 15px;
                        font-weight: 500;
                    }

                }
                

                .submit-form{
                    padding: 10px;
                    border-radius: 10px;
                    background-color: #607cab;
                    color: #fff;
                    border: 0;
                    outline: none;
                    box-shadow: 0 0.3125rem 0.625rem 0px rgb(0 0 0 / 12%) !important;
                    cursor: pointer;
                    transition: .5s;
                }

                .submit-form:hover{
                    box-shadow: 0 0.3125rem 0.625rem 6px rgb(0 0 0 / 12%) !important;
                }
            }
        }
    }
}

.error{
    font-size: .8em;
    font-weight: 500;
    color: #9f0514;
}

.department-form-card-active{
    right: 0%;
}

@media (max-width: 800px){
    .department-form-card{
        width: 100%;
        right: -100%;
    }

    .department-form-card-active{
        right: 0%;
    }
}