.task-list-dashboard{
    .task-list-dashboard-title{
        font-weight: 500;
    }

    .task-card-dashboard{
        padding: 20px;
        background-color: #fff;
        border-radius: 20px;
        box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
        cursor: pointer;

        .task-card-name{
            font-weight: 700;
        }

        .task-card-due-date{
            font-weight: 500;
            opacity: .8;
        }

        .task-icons{
            width: 48px;
            height: 48px;
            background-color: #607cab;
            border-radius: 10px;
            color: #fff;
            box-shadow: 0 .3125rem .625rem 0 rgba(0,0,0,.12)!important;

            .task-icon{
                position: relative;
                top: 9px;
            }
        }
    }

    .task-card-dashboard:hover{
        box-shadow: 0 20px 27px 20px rgb(0 0 0 / 5%);
        transition: .5s;
    }
}