.chats{
    position: fixed;
    bottom: 10px;
    right: 10px;
    
    .chats-button{
        background-color: #fff;
        border-radius: 50%;
        box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
        width: 50px;
        height: 50px;
        text-align: center;
        color: #344767;
        cursor: pointer;

        i{
            position: relative;
            top: 10px;
        }
    }
}

.d-conversation-canvas{
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.d-conversation-variant{
    background-color: #fff;
    margin-bottom: 5px;
    box-shadow: 0 0px 4px 0 rgb(0 0 0 / 20%);
    padding: 10px;
    border-radius: 20px;
}

.create-conversation{
    background-color: #344767;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: inline-block;
    color: #fff;
    text-align: center;
    cursor: pointer;
    transition: .4s;
    font-size: 1.6em;

    &:hover{
        box-shadow: 0 0px 8px 0 rgb(0 0 0 / 50%);
    }
}