.error-block{
    margin: 15% auto;
    text-align: center;

    .error-code{
        font-size: 10em;
        color: #344767;
        font-weight: 700;
    }

    .main-msg{
        color: #344767;
        font-weight: 500;
    }
}