*::-webkit-scrollbar-track{
    background-color: #f4f8fb;
}

*::-webkit-scrollbar{
    width: 2px;
    background-color: #f4f8fb;
}

*::-webkit-scrollbar-thumb{
    border-radius: 20px;
    background-color: #607cab;
    border: 1px solid #3447675e;
}

body{
    overflow: hidden;
}

#root{
    background-color: #f4f8fb;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
    min-width: 400px !important;
}

a{
    text-decoration: none;
    color: #344767;
}

a:hover{
    text-decoration: none;
    color: #607cab;
}

.form-group label{
    font-size: 0.9em;
    font-weight: 500;
}

.c-position-relative{
    position: relative;
}

.d-disable{
    pointer-events: none;
    opacity: 0.5;
}

.d-cursor-pointer{
    cursor: pointer;
}

.w-0{
    width: 0 !important;
}

input, input[type], select, textarea{
    border: 1px solid #ededed !important;
}

/*
    header
*/
.header-sticky{
    position: fixed;
    width: calc(100% - 30px);
    box-shadow: inset 0 0 1px 1px hsla(0,0%,100%,.9),0 20px 27px 0 rgba(0,0,0,.05)!important;
    margin: 8px 15px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, .5);
    padding: 15px 25px;
    top: 0;
    left: 0;
    backdrop-filter: saturate(200%) blur(30px);
    background-color: hsla(0,0%,100%,.8)!important;
    color: #344767;
    z-index: 9;
}

.header-title{
    position: relative;
    font-weight: bold;
    font-size: 1.2em;
}

.header-search{
    width: 49%;
    flex-direction: row;
}

.header-search input{
    padding-left: 30px;
    border-radius: 10px;
}

.header-search input::before{
    content: '';
}

.header-menu-items{
    padding: 5px 11px;
    cursor: pointer;
    transition: 0.5s;
}

.header-menu-items:hover{
    color: #607cab;
}

.header-santa2022{
    width: 30px;
    position: absolute;
    top: -5px;
    left: -15px;
    transform: rotate(-15deg);
    transition: .4s;
    animation: rotation 1s infinite linear;
}

@keyframes rotation {
    0%{
        transform: rotate(-15deg);
    }
    25%{
        transform: rotate(-13deg);
    }
    50%{
        transform: rotate(-11deg);
    }
    75%{
        transform: rotate(-10deg);
    }
    100%{
        transform: rotate(-13deg);
    }
}

.search-variant{
    position: absolute;
    top: 38px;
    left: 0px;
    width: 100%;
    z-index: 40;
    background-color: #fff;
    box-shadow: 0 0.3125rem 0.625rem 0 rgb(0 0 0 / 12%) !important;
    overflow: hidden;
    border-radius: 0px 0px 20px 20px;
}

.search-variant-item{
    padding: 10px;
    cursor: pointer;
    transition: .4s;
}

.search-variant-icon{
    font-size: 1.5em;
}

.search-variant-info p:first-of-type{
    font-weight: 500;
}

.search-variant-info p{
    margin-bottom: 0px;
}

.search-variant-item:hover{
    background-color: #e4eef5;
}

/* 
    d-card 
*/
.d-card-head{
    padding: 10px;
    background-color: #e4eef5;
    border-radius: 20px 20px 0px 0px;
    cursor: pointer;
    transition: 0.5s;
}

.d-card-head-title{
    font-size: 1.2em;
    font-weight: 700;
}

.d-card-body{
    background-color: #f4f8fb;
    border-radius: 0px 0px 20px 20px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

/* 
    alert 
*/
.alert-black-wall{
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(244 248 251 / 50%);
    z-index: 10;
    transition: .5s;
}

.alert-block{
    background-color: #fff;
    width: 500px;
    margin: 10px auto;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0.3125rem 0.625rem 0 rgb(0 0 0 / 12%) !important;
}

.alert-show{
    top: 0;
}

.alert-head-title{
    font-weight: 500;
}

/* 
    d-buttons 
*/
.d-btn{
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 0.3125rem 0.625rem 0 rgb(0 0 0 / 12%) !important;
    transition: .5s;
    font-weight: 500;
    color: #fff;
    border: 0px;
    outline: none;
}

.d-btn-sm{
    padding: 5px;
}

.d-btn-s{
    padding: 2px;
}

.d-btn:focus{
    outline: none;
}

.d-btn:hover{
    box-shadow: 0 0.3125rem 0.625rem 6px rgb(0 0 0 / 12%) !important;
}

.d-btn-primary{
    background-color: #607cab;
}

.d-btn-danger{
    background-color: #f26051;
}

.d-btn-success{
    background-color: #20da9b;
}

.d-btn-secondary{
    background-color: #b3b3b3;
}

/* 
    d-alert 
*/
.d-alert-danger{
    color: #f26051;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.d-alert-success{
    color: #20da9b;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

/* 
    loading 
*/
.loading-black-wall{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(244 248 251 / 50%);
    height: 100%;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    z-index: 100;
}

.loading-black-wall img{
    display: inline-block;
    vertical-align: middle;
    width: 10%;
    height: 100%;
}

/*
    no-internet
*/
.no-internet{
    position: fixed;
    top: 0;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    z-index: 20;
    text-align: center;
    padding: 10px;
}

.no-internet span{
    font-weight: 500;
    display:inline-block;
    clip-path: inset(0 1.4ch 0 0);
    animation: l 1s steps(4) infinite;
}

@keyframes l {
    to {
        clip-path: inset(0 -.8ch 0 0)
    }
}

/* 
    d-pagination 
*/
.d-pagination-item-arrows{
    padding: 10px;
    background-color: #e4eef5;
    border-radius: 50%;
    width: 44px;
    text-align: center;
    cursor: pointer;
    transition: .4s;
}

.d-pagination-item-arrows:hover{
    background-color: #607cab;
    color: #fff;
}

.d-pagination-item-arrows:active{
    box-shadow: 0 0rem 0.625rem 0px rgb(0 0 0 / 12%) !important;
}

.d-pagination-item-arrows span{
    position: relative;
    top: -2px;
}

.d-pagination-numbers{
    background-color: #e4eef5;
    border-radius: 20px;
    padding: 0px 20px;
}

.d-pagination-item{
    padding: 10px;
    width: 44px;
    text-align: center;
    font-weight: 500;
    cursor: pointer;
    border-radius: 10px;
    transition: .4s;
}

.d-pagination-item:hover{
    color: #607cab;
}

.d-pagination-item-active{
    background-color: #607cab;
    color: #fff;
    box-shadow: 0 0rem 0.625rem 0px rgb(0 0 0 / 12%) !important;
}

.d-pagination-item-active:hover{
    color: #fff;
}

/*
    d-search
*/
.d-search{
    padding: 20px 20px 5px 20px;
}

.d-search-input{
    border: 0;
    outline: none;
    padding: 10px 40px;
    width: 100%;
    border-radius: 20px 0px 0px 20px;
    color: #344767;
    transition: .4s;
}

.d-search-input:hover, .d-search-input:focus{
    box-shadow: 0 0.1125rem 0.625rem 0px rgb(0 0 0 / 12%) !important;
}

.d-search-button{
    width: 48px;
    text-align: center;
    background-color: #607cab;
    color: #fff;
    font-weight: 500;
    border-radius: 0px 20px 20px 0px;
}

.d-search-button span{
    position: relative;
    top: -2px;
}

/* 
    required sign 
*/
label .req {
    color: #f26051;
}

/* 
    t-cards 
*/
.t-card{
    padding: 20px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0px 8px 0 rgb(0 0 0 / 5%);
    transition: .5s;
    cursor: pointer;
}

.t-card-sm{
    padding: 10px;
}

.t-card-primary{
    background-color: #607cab;
    color: #fff;
}

.t-card-success{
    background-color: #20da9b;
    color: #fff;
}

.t-card-danger{
    background-color: #f26051;
    color: #fff;
}

.t-card:hover{
    box-shadow: 0 0px 10px 0px rgb(0 0 0 / 5%);
}

.t-card-name{
    font-weight: 700;
}

.t-card-due-date{
    font-weight: 500;
    opacity: .8;
}

.t-card-icons{
    width: 48px;
    height: 48px;
    background-color: #607cab;
    border-radius: 10px;
    color: #fff;
    box-shadow: 0 .3125rem .625rem 0 rgba(0,0,0,.12)!important;
}

.t-card-icon{
    position: relative;
    top: 9px;
}

.t-card-users{
    border-radius: 50%;
    background-image: linear-gradient(0deg, #607cab, #344767); 
    box-shadow: 0 .3125rem .625rem 0 rgba(0,0,0,.12)!important;
    padding: 5px;
    color: #fff;
    font-weight: 500;
    font-size: .8em;
    display: inline-block;
    height: 20px;
    width: 20px;
    text-align: center;
}

.t-card-users span{
    position: relative;
    top: -5px;
}

/* 
    on-off
*/
.on-off{
    position: relative;
    background-color: #b3b3b3;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px rgba(200, 200, 200, 0.5);
    padding: 10px 12px;
    cursor: pointer;
}

.on-off div{
    font-weight: 700;
    color: #fff; 
}

.on-off div div{
    width: 50%;
    text-align: center;
}

.on-off:before{
    content: '';
    background-color: #f3f3f3;
    position: absolute;
    top:10px;
    left:5%;
    width: 45%;
    height: 25px;
    border-radius: 30px;
    box-shadow: 0px 0px 5px 0px rgb(102 102 102 / 80%);
    transition: 0.4s;
}

.on-off-active{
    background-color: #19bf5e;
}

.on-off-active:before{
    left: 50%;
}

/* 
    c-card (right module)
*/
.c-card-left, .c-card-left-lg, .c-card-left-sm{
    width: 25%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: hsla(0deg, 0%, 100%, 0.8);
    transition: .6s;
    z-index: 10;
}

.c-card-left-lg{
    width: 75%;
    transition: .4s;
}

/* 
    pages content 
*/
.main-content, .c-main-content{
    height: 100vh;
    padding: 20px 10px;
    overflow: auto;
    color:#344767;
    width: 100%;
    position: fixed;
}

/*
    c-list
*/
.c-list-head{
    background-color: #fff;
    padding: 20px 35px;
    border-radius: 20px 20px 0px 0px;
}

.c-list-head-back{
    position: relative;
    top: 5px;
    font-size: 1.5em;
    margin-right: 10px;
    cursor: pointer;
}

.c-list-head-back span{
    position: relative;
    top: -7px;
}

.c-list-head-title{
    font-weight: 600;
    font-size: 1.5em;
}

.c-body{
    background-color: #e4eef5;
    border-radius: 0px 0px 20px 20px;
    overflow: auto;
}

.c-list-item{
    padding: 20px;
}

.c-list-item .c-item-icon{
    font-size: 3em;
}

.c-list-item .c-item-icon span{
    position: relative;
    top: -9px;
}

.c-list-item .c-item-info p:first-of-type{
    font-weight: 700;
}

.c-item-info {
    min-width: 0px;
    width: 100%;
}

.c-list-item .c-item-info p{
    margin-bottom: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

.c-form{
    position: fixed;
    top: 0;
    right: -75%;
    background-color: #fff;
    width: 75%;
    height: 100%;
    box-shadow: 0 8px 26px -4px hsla(0,0%,8%,.15),0 8px 9px -5px hsla(0,0%,8%,.06)!important;
    overflow: auto;
    padding: 0px 10px;
    transition: .2s ease;
    z-index: 11;
    color:#344767;
}

.c-form-sm{
    right: -25%;
    width: 25%;
}

.c-form-head{
    padding: 20px;
    padding-bottom: 0px;
}

.c-form-head-title{
    font-weight: 700;
    font-size: 1.5em;
}

.c-form-close{
    font-size: 1.5em;
    cursor: pointer;
}

.divider{
    margin: 5px 0px;
    border: 0;
}

.c-form-body{
    padding: 20px;
    padding-bottom: 0px;
}

.c-form-field label{
    font-size: .9em;
    font-weight: 500;
}

.c-form-field input, select{
    font-size: .9em;
}

.c-form-field .c-input-error{
    border: 0px;
    box-shadow: 0px 0px 10px 0px #721c24;
}

.c-error{
    font-size: .8em;
    font-weight: 500;
    color: #9f0514;
}

.c-form-active{
    right: 0%;
}

/* 
    dd-card 
*/
.dd-card{
    color:#344767;
}

.dd-card-head{
    padding: 10px;
    background-color: #e4eef5;
    border-radius: 20px 20px 0px 0px;
    cursor: pointer;
    transition: .5s;
    font-size: 1.2em;
    font-weight: 700;
}

.dd-card-body{
    background-color: #f4f8fb;
    border-radius: 0px 0px 20px 20px;
    padding: 10px;
}

.d-title{
    font-weight: 500;
}

.color-primary{
    color:#344767;
}

[role=tooltip].popup-content{
    width: 320px !important;
}

/*
    c-check
*/
.c-check{
    position: absolute;
    top: 3px;
    left: 3px;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    border: 2px solid #344767;
    background-color: #f4f8fb;
    box-shadow: 0 0.3125rem 0.625rem 0 rgb(0 0 0 / 12%) !important;
}

.c-check span{
    position: absolute;
    top: 2px;
    left: 2px;
    width: 12px;
    height: 12px;
    background-color: #607cab;
    border-radius: 20px;
}

.error{
    font-size: .8em;
    font-weight: 500;
    color: #f26051;
    text-shadow: 0px 0px 0px;
    animation: hightlight-animation 1s infinite linear;
}

@keyframes hightlight-animation {
    0% { text-shadow: 0px 0px 1px; }
    25% { text-shadow: 0px 0px 2px; }
    50% { text-shadow: 0px 0px 3px; }
    75% { text-shadow: 0px 0px 2px; }
    100% { text-shadow: 0px 0px 1px; }
}

/*
    match-found
*/
.match-found{
    box-shadow: 0 0px 5px 0 #607cab;
    animation: hightlight-animation-input 1s infinite linear;
}

/*
    d-hover
*/
.d-hover{
    transition: .4s;
    border-radius: 20px;
}

.d-hover:hover{
    background-color: #e4eef5;
}

@keyframes hightlight-animation-input {
    0% { box-shadow: 0 0px 6px 0 #607cab; }
    25% { box-shadow: 0 0px 8px 0 #607cab; }
    50% { box-shadow: 0 0px 10px 0 #607cab; }
    75% { box-shadow: 0 0px 8px 0 #607cab; }
    100% { box-shadow: 0 0px 6px 0 #607cab; }
}

/*
    ui-list
*/
.ui-list{
    padding: 10px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0.3125rem 0.625rem 0 rgb(0 0 0 / 12%) !important;
}

/*
    context-menu
*/
.context-menu{
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px;
    background-color: #fff;
    color:#344767;
    transition: .2s;
    opacity: 0;
    width: 200px;
    cursor: pointer;
    box-shadow: 0 0.3125rem 0.625rem 0 rgb(0 0 0 / 12%) !important;
    z-index: -1;
}

.context-menu div{
    padding: 5px;
    border-radius: 20px;
    transition: .4s;
}

.context-menu div:hover{
    background-color: #e4eef5;
}

.context-menu-active{
    opacity: 1;
    z-index: 99;
}

/*
    badges
*/
.d-badge{
    padding: 2px;
    border-radius: 4px;
    font-size: 12px !important;
    color: #fff;
}

.d-badge-primary{
    background-color: #607cab;
}

.d-badge-success{
    background-color: #20da9b;
}

.d-badge-danger{
    background-color: #f26051;
}

.file-block-module-files{
    font-size: .85em;
    font-weight: 500;
}

/*
    a-form
*/
.a-card{
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
    border-radius: 20px;
}

.a-card-head{
    font-weight: bold;
    font-size: 1.1em;
}

.a-card-body{
    position: relative;
}

.a-card-content{
    margin-top: 20px;
    height: 74vh;
    overflow: auto;
}

.a-card-content:before{
    content: '';
    position: absolute;
    top: 0;
    left: 8px;
    height: 100%;
    border-right: 2px solid #607cab;
}

.a-card-item{
    position: relative;
    font-weight: 400;
    margin-left: 35px;
}

.a-card-item-status{
    position: absolute;
    top: -2px;
    left: -34px;
    background-color: #fff;
    width: 25px;
    height: 27px;
    color: #607cab;
}

.a-card-item-title{
    font-weight: 500;
}

.a-card-item-desc{
    font-weight: 300;
}

.a-card-item-date{
    font-size: .8em;
    color:#607cab;
}

/*
    menu-item
*/
.menu-item{

}

.menu-item-icon{
    color: #607cab;
    background-color: #fff;
    border-radius: 8px;
    padding: 7px 10px;
    box-shadow: 0 0.3125rem 0.625rem 0 rgb(0 0 0 / 12%) !important;
    transition: .5s;
}

.menu-item-name{
    font-weight: 500;
    position: relative;
    top: 6px;
    width: 100%;
}

.menu-item:hover .menu-item-icon{
    box-shadow: 0 0.3125rem 0.625rem 6px rgb(0 0 0 / 12%) !important;
}

.menu-item-active .menu-item-icon{
    background-color: #607cab !important;
    color: #fff !important;
}

/*
    d-area
*/
.d-area{
    padding: 5px;
    padding-right: 0px;
    border-radius: 10px;
    font-weight: 500;
    transition: .4s;
    box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 12%) !important;
}

.d-area:hover{
    box-shadow: 0px 0px 9px 0px rgb(0 0 0 / 12%) !important;
}

/*
    d-modal
*/
.d-black-wall{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #ffffff5e;
    z-index: -1;
    transition: 1s;
}

.d-black-wall-show{
    z-index: 110;
}

.d-modal{
    background-color: #fff;
    margin-top: 20px;
    border-radius: 20px;
    color: #344767;
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 12%) !important;
}

.d-modal-header{
    padding: 20px;
    border-bottom: 1px solid #f1f1f17a;
}

.d-modal-body{
    padding: 20px;
}

.d-modal-footer{
    padding: 20px;
    border-top: 1px solid #f1f1f17a;
}

/*
    task-comment-block
*/
.task-comment-item{
    background-color: #fff;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 12%) !important;
    min-width: 200px;
}

.d-appear{
    font-size: .8em;
    opacity: .8;
}

/* medias */
@media (max-width: 800px){
    .c-card-left, .c-card-left-lg{
        width: 0;
    }

    .c-form{
        width: 100%;
        right: -100%;
    }

    .c-form-active{
        right: 0%;
    }

    [role=tooltip].popup-content{
        width: 80% !important;
    }
}