*::-webkit-scrollbar-track{
    background-color: #f4f8fb;
}

*::-webkit-scrollbar{
    width: 10px;
    background-color: #f4f8fb;
}

*::-webkit-scrollbar-thumb{
    border-radius: 20px;
    background-color: #607cab;
    border: 1px solid #3447675e;
}

a:hover{
    text-decoration: none;
}

/* D-Card */
.d-card{

}

.d-card-head{
    padding: 10px;
    background-color: #e4eef5;
    border-radius: 20px 20px 0px 0px;
    cursor: pointer;
    transition: 0.5s;
}

.d-card-head-title{
    font-size: 1.2em;
    font-weight: 700;
}

.d-card-body{
    background-color: #f4f8fb;
    border-radius: 0px 0px 20px 20px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

/* D-Alert */
.alert-black-wall{
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(244 248 251 / 50%);
    z-index: 10;
    transition: .5s;
}

.alert-block{
    background-color: #fff;
    width: 500px;
    margin: 10px auto;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0.3125rem 0.625rem 0 rgb(0 0 0 / 12%) !important;
}

.alert-show{
    top: 0;
}

.alert-head{}

.alert-head-title{
    font-weight: 500;
}

.alert-body{}

/* D-Buttons */
.d-btn{
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 0.3125rem 0.625rem 0 rgb(0 0 0 / 12%) !important;
    transition: .5s;
    font-weight: 500;
    color: #fff;
    border: 0px;
    outline: none;
}

.d-btn:focus{
    outline: none;
}

.d-btn:hover{
    box-shadow: 0 0.3125rem 0.625rem 6px rgb(0 0 0 / 12%) !important;
}

.d-btn-primary{
    background-color: #607cab;
}

.d-btn-danger{
    background-color: #f26051;
}

.d-btn-success{
    background-color: #20da9b;
}

/* D-Alert */
.d-alert{

}

.d-alert-danger{
    color: #721c1c;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.d-alert-success{
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

/* Loading */
.loading-black-wall{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(244 248 251 / 50%);
    height: 100%;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    z-index: 10;
}

.loading-black-wall img{
    display: inline-block;
    vertical-align: middle;
    width: 10%;
    height: 100%;
}

.no-internet{
    position: fixed;
    top: 0;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    z-index: 20;
    text-align: center;
    padding: 10px;
}

.no-internet span{
    font-weight: 500;
    display:inline-block;
    clip-path: inset(0 1.4ch 0 0);
    animation: l 1s steps(4) infinite;
}

@keyframes l {
    to {
        clip-path: inset(0 -.8ch 0 0)
    }
}

/* D-Pagination */
.d-pagination{

}

.d-pagination-item-arrows{
    padding: 10px;
    background-color: #e4eef5;
    border-radius: 50%;
    width: 44px;
    text-align: center;
    cursor: pointer;
    transition: .4s;
}

.d-pagination-item-arrows:hover{
    background-color: #607cab;
    color: #fff;
}

.d-pagination-item-arrows:active{
    box-shadow: 0 0rem 0.625rem 0px rgb(0 0 0 / 12%) !important;
}

.d-pagination-item-arrows span{
    position: relative;
    top: -2px;
}

.d-pagination-numbers{
    background-color: #e4eef5;
    border-radius: 20px;
    padding: 0px 20px;
}

.d-pagination-item{
    padding: 10px;
    width: 44px;
    text-align: center;
    font-weight: 500;
    cursor: pointer;
    border-radius: 10px;
    transition: .4s;
}

.d-pagination-item:hover{
    color: #607cab;
}

.d-pagination-item-active{
    background-color: #607cab;
    color: #fff;
    box-shadow: 0 0rem 0.625rem 0px rgb(0 0 0 / 12%) !important;
}

.d-pagination-item-active:hover{
    color: #fff;
}

.d-disable{
    pointer-events: none;
    opacity: 0.5;
}

.d-search{
    padding: 20px 20px 5px 20px;
}

.d-search-input{
    border: 0;
    outline: none;
    padding: 10px 40px;
    width: 100%;
    border-radius: 20px 0px 0px 20px;
    color: #344767;
    transition: .4s;
}

.d-search-input:hover, .d-search-input:focus{
    box-shadow: 0 0.1125rem 0.625rem 0px rgb(0 0 0 / 12%) !important;
}

.d-search-button{
    width: 48px;
    text-align: center;
    background-color: #607cab;
    color: #fff;
    font-weight: 500;
    border-radius: 0px 20px 20px 0px;
}

.d-search-button span{
    position: relative;
    top: -2px;
}

/* Required sign */
label .req {
    color: #f26051;
}

/* T-CARDS */

.t-card{
    padding: 20px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0px 8px 0 rgb(0 0 0 / 5%);
    transition: .5s;
    cursor: pointer;
}

.t-card-sm{
    padding: 20px 5px;
}

.t-card-primary{
    background-color: #607cab;
    color: #fff;
}

.t-card-success{
    background-color: #20da9b;
    color: #fff;
}

.t-card-danger{
    background-color: #f26051;
    color: #fff;
}

.t-card:hover{
    box-shadow: 0 0px 10px 0px rgb(0 0 0 / 5%);
}

.t-card-name{
    font-weight: 700;
}

.t-card-due-date{
    font-weight: 500;
    opacity: .8;
}

.t-card-icons{
    width: 48px;
    height: 48px;
    background-color: #607cab;
    border-radius: 10px;
    color: #fff;
    box-shadow: 0 .3125rem .625rem 0 rgba(0,0,0,.12)!important;
}

.t-card-icon{
    position: relative;
    top: 9px;
}

/* OnOff */
.on-off{
    position: relative;
    background-color: #b3b3b3;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px rgba(200, 200, 200, 0.5);
    padding: 10px 12px;
    cursor: pointer;
}

.on-off div{
    font-weight: 700;
    color: #fff;
    
    
}

.on-off div div{
    width: 50%;
    text-align: center;
}

.on-off:before{
    content: '';
    background-color: #f3f3f3;
    position: absolute;
    top:10px;
    left:5%;
    width: 45%;
    height: 25px;
    border-radius: 30px;
    box-shadow: 0px 0px 5px 0px rgb(102 102 102 / 80%);
    transition: 0.4s;
}

.on-off-active{
    background-color: #19bf5e;

}

.on-off-active:before{
    left: 50%;
}

/* Notification  */
.d-notification{
    position: absolute;
    top: 20px;
    right: -100%;
    width: 320px;
    z-index: 20;
    background-color: #ffffff;
    color:#344767;
    padding: 20px;
    border-radius: 20px;
    overflow: hidden;
    transition: .4s;
}

.d-notification-active{
    right: 2%;
}

.d-notification-primary{
    border: 1px solid #607cab;
    box-shadow: 0px 0px 10px 0px #607cab5e;
}

.d-notification-primary:before{
    content: '';
    position: absolute;
    background-color: #607cab;
    top: 0;
    left: 0;
    width: 10px;
    height: 100%;
}

.d-notification-danger{
    border: 1px solid #f26051;
    box-shadow: 0px 0px 10px 0px #f260515e;
}

.d-notification-danger:before{
    content: '';
    position: absolute;
    background-color: #f26051;
    top: 0;
    left: 0;
    width: 10px;
    height: 100%;
}

.d-notification-success{
    border: 1px solid #20da9b;
    box-shadow: 0px 0px 10px 0px #20da9b5e;
}

.d-notification-success:before{
    content: '';
    position: absolute;
    background-color: #20da9b;
    top: 0;
    left: 0;
    width: 10px;
    height: 100%;
}

.d-cursor-pointer{
    cursor: pointer;
}

/* c-card-background */
.c-card-left, .c-card-left-lg, .c-card-left-sm{
    width: 25%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: hsla(0deg, 0%, 100%, 0.8);
    transition: .6s;
    z-index: 10;
}

.c-card-left-lg{
    width: 75%;
    transition: .4s;
}

.w-0{
    width: 0;
}

@media (max-width: 800px){
    .c-card-left, .c-card-left-lg{
        width: 0;
    }
}
