.header{

    .header-sticky{
        position: fixed;
        width: calc(100% - 30px);
        box-shadow: inset 0 0 1px 1px hsla(0,0%,100%,.9),0 20px 27px 0 rgba(0,0,0,.05)!important;
        margin: 8px 15px;
        border-radius: 20px;
        background-color: rgba(255, 255, 255, .5);
        padding: 15px 25px;
        top: 0;
        left: 0;
        backdrop-filter: saturate(200%) blur(30px);
        background-color: hsla(0,0%,100%,.8)!important;
        color: #344767;
        z-index: 9;

        .header-breadcrumbs{
            position: relative;
            font-weight: bold;
            font-size: 1.2em;
        }

        .header-search{
            width: 49%;
            flex-direction: row;

            .search-input{
                padding-left: 30px;
                border-radius: 10px;
            }

            .search-input:before{
                content: '';
            }
        }

        .header-sign-out, .header-note{
            padding: 5px 11px;
            cursor: pointer;
            transition: 0.5s;
        }

        .header-menu{
            padding: 5px 0px 5px 11px;
            cursor: pointer;
            transition: 0.5s;
        }

        .header-sign-out:hover, .header-note:hover, .header-menu:hover{
            color: #607cab;
        }
    }
}

@media (max-width: 576px){
    .header-sticky{
        .header-breadcrumbs{
            flex-direction: column;
        }
    }
}