.menu-card{
    position: absolute;
    top: 0;
    right: -25%;
    background-color: #fff;
    width: 25%;
    height: 100%;
    box-shadow: 0 8px 26px -4px hsla(0,0%,8%,.15),0 8px 9px -5px hsla(0,0%,8%,.06)!important;
    overflow: inherit;
    padding: 0px 10px;
    transition: .2s ease;
    z-index: 10;

    .menu-card-head{
        padding: 20px;
        padding-bottom: 0px;

        .menu-card-title{
            font-weight: 700;
            font-size: 1.5em;
        }

        .menu-card-close{
            font-size: 1.5em;
            cursor: pointer;
        }
    }

    .divider{
        margin: 5px 0px;
        border: 0;
    }

    .menu-card-body{
        padding: 20px;
        padding-bottom: 0px;

        .menu-item{
            cursor: pointer;

            .item-icon{
                color: #607cab;
                background-color: #fff;
                border-radius: 8px;
                padding: 7px 10px;
                box-shadow: 0 0.3125rem 0.625rem 0 rgb(0 0 0 / 12%) !important;

                .item-ic{
                    position: relative;
                    top: -2px;
                }
            }

            .menu-name{
                font-weight: 500;
                position: relative;
                top: 6px;
                width: 100%;
            }
        }

        .menu-item-active{
            .item-icon{
                background-color: #607cab !important;
                color: #fff !important;
            }
        }
    }
}

.menu-card-active{
    right: 0%;
}