.main-content{
    color: #344767;

    .form-login, .title-login{
        max-width: 400px;
        margin: 5% auto;
    
        .button-login-block{
            text-align: center;
            margin-top: 4em;

            .button-login{
                width: 100%;
                border: 0px;
                padding: 10px;               
                border-radius: 10px;
                color: #fff;
                background-color: #607cab;
                box-shadow: 0 0.3125rem 0.625rem 0 rgb(0 0 0 / 12%) !important;
                transition: .5s;
                outline: none;
            }

            .button-login:hover{
                box-shadow: 0 0.3125rem 0.625rem 6px rgb(0 0 0 / 12%) !important;
            }
        }
    }
    
    .title-login{
        text-align: center;
    
        b{
            font-size: 2.5em;
        }
        
    }

    .wave1-login, .wave2-login, .wave3-login, .wave4-login{
        opacity: .6;
    }
}



@media (max-width: 400px) {
    .form-login{
        max-width: 100%;
    }
}

@media (max-width: 800px) {
    .form-register{
        max-width: 100%;
    }
}